aws_region = "ap-northeast-2"

project_name = "secubank"
environment  = "dev"

vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"

allowed_admin_cidr = "0.0.0.0/0"

ci_instance_type      = "t3.medium"
runtime_instance_type = "t3.medium"